

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #E5E5E5; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 2.5rem;
  cursor: pointer;
}

.seoulture {
  text-decoration: underline;
}

.lotties {
  display: grid;
  grid-template-columns: auto;
  
  
}


.containerrr {
  margin-top: -1rem;
  margin-bottom: -3rem;
}

@media only screen and (min-width: 800px) {
  .lotties {
    display: grid;
    grid-template-columns: auto auto;
  }

  .containerrr {
    margin-top: -5rem;
    margin-bottom: -10rem;
  }
}

.container {
  margin-bottom: 1.5rem;

  
}
.containerr {
  width: 200px;
  margin-bottom: -5rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-bg {
  animation: gradientAnimation 5s ease infinite;
  background: linear-gradient(90deg, rgba(255,74,6,1) 0%, rgba(184,87,255,1) 78%, rgba(255,13,142,1) 100%);
  background-size: 200% 200%;
  color: white; /* Ensure text color contrasts with the background */
}
